.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.nav_brand .nav_logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.nav_list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav_item .nav_link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav_toggle {
    display: none;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}



